h1 {
    border: blue solid 2px;
    background-image: url("https://cdn.prod.website-files.com/611e33de5446a74e18a9324c/6419f8ed14c757e094b277db_porcelain%20tiles%20pros%20and%20cons.webp");
    text-align: center;
    color: green;
    font-size: 100px;
}

  #art {
    border: blue solid 2px;
    background-image: url("https://tyler-kinneer.github.io/project-1/");
    height: 100px
    width: 100%
    text-align: center;
    color: green;
    font-size: 100px;
}

