:root {
    --blue1:#7fbeeb;
    --blue2:#cbe7ee;
    --blue3:#cbe7ee80;
    --purple:#DBD8F0;
    --lgray:#F5EBE0;
    --border:#c6c1c1;
  }

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
    margin: 0px;
    position: absolute;
}

  /*nav  ------------------------------*/
#top-site-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
}

.header {
    position: fixed;
    z-index: 10;    
    display: flex;
    margin: 0px;
    background-color: blue;
    border-bottom: 1px seashell solid;
    width: 100%;
    height: 69px;
}

#logo {
    margin-left: 10px;
    align-self: center;
    height: 50px;
}

.header-right {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    padding-left: 20px;
}

.header-right a {
    padding: inherit;
    color: seashell;

}

  /*  about me ----------------------*/

  #banner1 {
    margin-top: 5rem;
  }
    

  /*    projects -------------------------- */

a.art {
    font-size: small;
}

a.art:visited {
    color: red;
}

a.art:hover {
    color: blue;
}

.art_img {
    height: 45%;
    width: 45%;
}

/* skills --------------------------------*/

.skills-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.skills-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills1 {
    height: auto;
    width: 10rem;
}

.skills2 {
    height: auto;
    width: 14rem;
}

.skills3 {
    height: auto;
    width: 16rem;
}

.skills-word {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* contacts -----------------------*/

.contacts {
    display: flex;
    justify-content: space-around;
}